.MainBox {
	width: 120%;
	height:1000px;
	margin: 0 auto; 
	text-align:left;
	border: 1px solid black;
        }



	

h1	{
	text-align:center;
	font-weight:italic;
	font-family: 'Anton', sans-serif;
	padding:10px;
	color:red;
        position:relative;
        left:-60px;
        }

h2	{
	 font-family: 'Baloo Thambi', cursive;
	 color:red;

        }

.Menu	{
	font-family: Verdrana, Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 20px;;
	list-style-type: none;
	position:relative;
	top:0px;
	left:180px;
}

.Menu li {
	background-color: red ;border-left: 6px solid blue;
width:150px;
height:40px;
position:relative;
top:-50px;

margin:2px 0;
border-bottom:2px solid orange;
display:inline;
float:left; 
position:relative;
left:-50px;
          }

.Menu ul ul {
	position: absolute;
	top: 90px;
	visibility: hidden;
           }

.Menu ul li:hover ul {
	visibility: visible; 
                     }

.Menu li a          {
color:white;
font-weight:bold;
text-decoration:none;
padding-left:5px;
position:relative;
left:-2px;
line-height:40px;

                     }

.Menu li.active, li:hover{
background-color: yellow;
text-decoration: underline;
}

.Testo1	{ 
	 margin:0 auto;
	 text-align:justify;
         color:#808080;
	 font-family: 'Times New Roman', serif;
	 font-weight:italic;
	 font-size: 28px;
}

.Footer{
font:10px Helvetica;
text-transform:uppercase;
text-align:center;
position:relative;
top:-15px;
color:red;
clear:both;
}

